<!DOCTYPE html>

<html>
<head>
  <title>The Labyrinth</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <script src="https://d3js.org/d3.v4.min.js"></script>
  <link href='https://fonts.googleapis.com/css?family=VT323' rel='stylesheet'>
  <link rel="stylesheet" href="/static/css/intro.css" type="text/css" media="screen">
</head>

<body>
  <noscript>
  <p>Why don't you use javascript like the rest of the cool kids?<p>
  <p>Nevertheless, click <a href="enter">here to enter the labyrinth.</a></p>
  </noscript>
  <div id="over">
  <h1 id="entry">THE LABYRINTH</h1>
  <br>
  <div id="enter"><h2 id="entry">< ENTER ></h2></div>
  
  </div>

  <br>

  <div id="scroll">
  <pre id="art">
 /\ /\ /\ /\ /\ /\ /\ /\ /\ /\ /\ /\ /\ /\ /\ /\ /\ /\ /\ /\ /\ /\ /\ /\ /\ /\ /\ /\ /\ /\
+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+
|  |     |           |     |     |                          |              |        |     |
+  +  +  +--+  +--+--+  +  +  +  +--+--+--+  +--+  +--+--+  +  +--+--+--+  +  +--+  +  +  +
|     |        |        |  |  |           |     |     |     |  |        |     |     |  |  |
+--+  +--+--+--+  +--+  +  +  +--+--+--+  +--+--+--+  +  +--+  +  +--+  +--+--+  +--+  +--+
|  |        |  |  |     |  |        |  |  |     |  |  |        |     |  |     |     |     |
+  +--+--+  +  +  +--+--+  +--+  +  +  +  +  +  +  +  +--+--+--+--+  +  +  +--+--+  +--+  +
|           |     |        |     |     |  |  |  |  |  |        |  |  |  |  |     |     |  |
+  +--+--+--+--+--+  +--+--+  +--+--+--+  +  +  +  +  +  +--+  +  +  +  +  +  +  +--+  +  +
|  |     |     |              |        |     |     |  |     |     |  |     |  |     |  |  |
+  +  +  +  +--+  +  +--+--+--+--+  +  +--+  +  +--+  +--+  +--+  +  +--+--+  +--+--+  +  +
|     |           |        |        |     |  |        |  |  |  |     |     |  |           |
+--+--+--+  +--+--+--+  +  +  +--+--+--+  +--+--+--+--+  +  +  +--+--+  +  +  +  +  +--+--+
|        |  |           |  |  |     |  |        |     |     |  |     |  |  |  |  |     |  |
+  +  +--+  +  +  +--+--+  +  +  +  +  +--+--+  +--+  +  +  +  +  +--+  +--+  +--+--+  +  +
|  |        |  |        |     |  |           |  |     |  |  |           |              |  |
+  +--+--+--+  +--+--+  +--+--+  +--+--+  +--+  +  +--+--+  +--+  +--+--+  +--+--+--+--+  +
|           |     |        |     |     |  |        |        |  |     |  |                 |
+--+--+--+  +--+--+  +--+  +  +--+  +--+  +  +--+--+  +--+--+  +--+  +  +--+--+--+  +--+--+
|        |  |     |  |     |     |        |  |     |  |     |        |     |        |     |
+  +--+--+  +  +  +  +  +--+--+--+  +--+--+--+  +  +  +  +  +--+--+  +  +--+  +--+--+--+  +
|  |        |  |  |  |  |        |  |        |  |  |  |  |        |  |     |     |     |  |
+  +  +--+--+--+  +  +  +  +--+  +  +--+--+  +  +--+  +  +--+--+  +  +--+  +  +  +  +  +  +
|     |     |     |  |     |     |     |  |  |  |     |  |        |     |  |  |  |  |  |  |
+--+  +  +  +  +--+  +--+--+  +--+--+  +  +  +  +  +--+  +--+--+--+--+  +  +  +  +  +  +  +
|     |  |  |     |  |        |        |  |  |  |                 |        |  |  |  |  |  |
+  +--+  +  +--+  +  +  +--+--+  +--+--+  +  +  +--+  +--+--+--+  +  +  +--+--+  +  +  +  +
|     |  |  |  |  |  |           |     |  |  |           |           |        |     |  |  |
+--+  +--+  +  +  +  +--+--+  +--+--+  +  +  +--+--+--+  +--+--+--+--+  +--+  +--+--+  +  +
|     |     |  |     |        |           |                          |     |  |        |  |
+  +--+  +--+  +  +--+--+--+--+  +--+--+  +--+--+  +--+--+--+--+--+  +--+  +--+  +--+--+  +
|           |  |  |     |     |        |     |     |        |     |  |                    |
+--+--+--+  +  +  +  +  +  +  +--+--+  +--+  +--+--+  +--+  +  +  +  +--+--+--+  +  +--+--+
|     |     |  |     |     |  |     |  |  |        |  |  |  |  |     |           |        |
+  +--+  +--+  +--+--+--+--+  +  +  +  +  +--+--+  +  +  +  +  +  +--+  +--+--+--+--+--+  +
|  |     |     |        |     |  |  |        |  |  |  |  |  |  |  |  |     |        |     |
+  +  +--+  +--+--+  +  +--+--+  +  +--+--+  +  +  +  +  +  +  +  +  +--+  +  +  +  +--+  +
|     |  |           |        |  |  |     |     |        |     |  |        |  |  |        |
+--+--+  +--+--+--+--+--+--+  +  +  +  +  +--+--+--+--+--+--+--+  +--+--+--+  +  +--+--+--+
|                          |  |  |     |        |     |     |     |           |  |        |
+  +--+--+--+--+--+--+  +--+  +  +--+--+--+--+  +  +--+  +  +  +--+  +--+--+--+  +  +--+  +
|  |        |  |           |        |        |  |        |     |        |        |     |  |
+--+  +  +  +  +  +--+  +  +--+  +  +  +--+  +  +--+--+--+--+--+--+  +  +  +--+--+--+--+  +
|     |  |  |  |     |  |     |  |  |  |     |     |              |  |  |  |        |     |
+  +--+--+  +  +--+  +--+--+  +--+  +  +  +--+--+  +  +--+--+--+  +--+  +  +  +--+  +  +--+
|     |     |     |        |        |  |     |  |     |                 |     |     |     |
+--+  +  +--+--+  +--+--+  +--+--+  +  +--+  +  +--+--+  +--+--+  +--+--+--+--+  +--+--+  +
|     |     |     |     |     |     |  |  |     |     |  |     |  |        |  |     |     |
+  +--+--+  +  +--+  +  +--+  +  +--+  +  +--+--+  +  +  +--+  +  +  +--+  +  +--+  +  +--+
|     |  |  |        |        |     |  |     |  |  |     |     |  |     |  |        |     |
+--+  +  +  +--+  +--+--+--+--+--+  +  +--+  +  +  +--+--+  +--+  +--+  +  +--+  +--+--+  +
|     |  |        |                 |  |  |  |  |           |  |        |  |              |
+  +--+  +--+--+--+  +--+--+--+--+--+  +  +  +  +--+--+--+--+  +--+--+--+  +--+--+--+--+--+
|     |     |        |     |     |     |  |     |                 |        |              |
+--+  +--+  +  +--+--+  +  +  +  +  +--+  +--+  +  +--+--+  +--+  +  +--+--+  +--+--+--+  +
|     |     |     |     |     |  |  |  |        |  |        |        |        |  |        |
+  +--+  +  +--+  +--+  +--+--+--+  +  +  +--+--+  +  +--+--+--+--+--+  +--+  +  +  +--+--+
|  |     |  |     |     |     |     |  |     |     |           |     |     |  |  |        |
+  +  +--+  +  +--+  +  +  +--+  +--+  +--+  +  +--+--+--+--+  +  +  +--+  +--+  +--+--+  +
|  |  |     |        |  |           |           |                 |        |     |     |  |
+  +  +  +--+--+--+--+--+--+--+  +--+--+--+  +--+  +--+--+  +  +--+--+--+--+  +--+  +--+  +
|  |  |        |     |        |     |        |  |     |     |  |     |        |        |  |
+  +  +--+--+  +--+  +  +--+  +--+  +  +--+--+  +--+  +--+--+  +--+  +  +--+--+  +--+  +  +
|     |     |  |     |  |     |     |  |           |        |     |              |  |     |
+--+--+  +  +  +  +--+  +  +--+  +--+  +  +--+  +--+--+  +  +--+  +--+  +--+--+--+  +  +--+
|     |  |  |  |  |     |     |        |     |     |     |  |     |              |  |     |
+  +  +  +  +  +  +  +--+--+  +--+--+--+--+  +--+  +  +--+  +  +--+--+--+--+  +--+  +--+  +
|  |  |  |        |  |     |     |           |  |     |     |  |        |     |     |     |
+  +--+  +--+  +--+--+  +  +  +  +  +--+--+--+  +--+--+  +--+  +--+  +  +  +--+  +--+  +--+
|  |     |     |        |     |  |        |  |  |        |  |  |     |     |     |     |  |
+  +  +--+  +--+  +--+--+--+--+  +--+--+  +  +  +--+  +--+  +  +  +--+--+--+  +--+  +--+  +
|     |     |     |     |     |  |        |  |     |  |     |  |     |     |  |     |     |
+--+--+  +--+  +--+  +  +  +  +  +  +--+--+  +--+  +--+  +--+  +--+  +  +  +  +  +  +  +--+
|        |     |  |  |     |  |  |  |           |                 |     |     |  |     |  |
+  +--+--+  +--+  +  +--+--+  +  +  +  +--+--+--+--+--+  +--+--+--+--+--+--+--+  +--+--+  +
|           |        |     |     |  |                    |     |              |  |     |  |
+--+--+--+--+--+--+--+  +--+--+--+  +--+--+  +--+--+--+--+  +  +  +--+--+  +  +  +--+  +  +
|     |     |                    |  |  |     |           |  |  |  |  |     |  |  |        |
+  +  +  +  +  +--+--+--+  +--+  +  +  +  +--+  +  +--+--+  +--+  +  +  +--+  +  +  +  +--+
|  |     |     |        |     |     |  |  |  |  |        |        |  |  |  |  |  |  |     |
+  +--+--+--+--+  +--+  +--+  +--+--+  +  +  +  +--+--+  +--+--+--+  +  +  +  +  +  +--+  +
|  |              |     |     |     |     |     |     |  |     |        |  |  |     |     |
+  +  +--+--+--+--+  +  +  +--+  +  +--+--+--+--+  +--+  +  +--+  +  +--+  +  +--+--+  +--+
|  |  |           |  |  |  |     |           |     |     |        |        |     |        |
+  +  +  +--+--+  +  +  +  +  +--+--+--+--+  +  +--+  +--+--+--+--+  +--+--+--+  +  +  +--+
|     |     |  |  |  |  |  |  |        |     |  |  |           |     |     |  |  |  |     |
+--+--+--+  +  +  +--+  +  +  +--+--+  +  +--+  +  +--+  +--+  +  +--+  +  +  +  +  +--+  +
|     |  |     |        |  |  |     |  |     |  |        |     |  |     |     |     |     |
+  +  +  +--+--+--+--+--+  +--+  +  +  +--+  +  +  +  +--+  +--+--+  +--+  +--+--+--+  +  +
|  |                    |        |           |     |     |  |     |  |     |           |  |
+--+--+   _____+--+--+  +--+--+--+--+  +  +--+--+--+--+--+  +--+  +  +--+--+--+  +--+--+--+
|        /     \     |     |           |     |        |     |     |  |        |     |     |
+  +--+--       --+  +--+  +  +  +--+--+--+  +  +--+  +  +--+  +  +  +  +--+  +--+  +--+  +
|     | _________ |  |  |     |     |     |     |     |        |  |     |  |           |  |
+  +--| | | | | | |  +  +--+--+--+  +  +--+--+--+  +--+--+--+--+  +--+--+  +--+--+--+  +  +
|     |           |              |  |           |     |        |        |  |        |  |  |
+  +--|         ] |--+--+  +--+  +  +--+--+  +  +--+  +  +--+  +--+--+  +  +  +--+  +  +  +
|  |  |           |     |     |  |  |        |        |  |  |     |  |           |     |  |
+  +  |           |--+  +--+  +--+  +  +--+--+--+--+--+  +  +--+  +  +--+  +  +--+--+--+  +
|     |           |        |        |                    |        |        |              |
+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+
  </pre>
  </div>

</body>

<script>


  d3.selectAll("#over").transition().style("color","#ffe").duration(4001).delay(1000);
  d3.selectAll("#art").transition().style("color","#800").duration(2000)
  d3.select("#scroll").transition().style("top", "-850px").ease(d3.easeLinear).duration(50000).delay(3000);

var clicky = document.getElementById('enter');
 
clicky.addEventListener('click', function() {
    window.location = "challenges"
}, false);
 
clicky.addEventListener('mouseover', function() {
    // Something could go here!
}, false);

</script>

i</html>
