body {
  background-color: black;
}

h1 {
  font-size: 64px; 
}

h2 {
  font-size: 32px;
  font-weight: normal;
}

a {
  color: white;
  font-size: 32px;
  font-weight: normal;
}

#entry {
  font-family: VT323;
  margin: auto;
  padding: 10px;
  text-align: center;
}

#over {
  z-index: 100;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
  left: 0;
  right: 0;
}

#scroll {
  z-index: 3;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

#art {
  font-family: monospace;
  text-align: center;
  color: #000;
}
