/*   
Theme Name: mnmlist
Theme URI: http://mnmlist.com/theme/
Description: minimalist theme.
Author: Leo Babauta
Author URI: https://zenhabits.net
Modified by Jack for labyrinth-site. Thanks Leo!
.
This theme is uncopyrighted, free, and offered as is.
.
*/


body {background:#000; font-family: monospace;
	font-size: 1em; line-height: 1.5em; margin:20px;}

#content {max-width: 32.5em; overflow: hidden; margin: auto;}	

	
h1 {font-size: 1.6em; color:#ffffff; line-height: 1.5em; font-weight:normal;}
h2 {font-size: 10pt; color:#ffffff;}
h3 {font-size: 13pt; color:#fffff2; font-weight:normal;}
h4 {font-size: 9pt; color:#fffff3;}
h5 {font-size: 9pt; color:#fffff4;}

th {font-size: 1em; color:#800; text-align: center;}
tr {font-size: 1.3em; color:#dcc; text-align: center;}

pre {color:#f88 }

img{border:none;}
img a{border:none;}
blockquote{border-left:1px solid #A5ABAB; margin:0px; padding:0 12px 0 12px;}
hr{border:1px solid;color:#444}

p{color:#ddd; line-height: 1.3em; margin:12px 0;}

a {text-decoration: none;}
a:link {color: #999; text-decoration: none;}
a:visited {color: #999; text-decoration: none;}
a:hover {color: #bbb; text-decoration: none;}

ul{padding: .5em 0em 1em 3.2em;}
ol{padding: .5em 0em 0em 3.2em;}
li{line-height: 18px; padding: 6px 0 0 0;}

/*
#header {position:fixed; }

#header h2{padding: 0 0 0 0; margin:0; color: #333; font: Helvetica, sans-serif; font-size: 16pt; font-weight: normal;}
#header h3{padding: 5px 0 20px 0; margin:0; color: #777777; font-weight: normal; font-size: 12pt;}
*/

#header {margin: 0px 0px 15px 0px; }

.entry a:link {color: #303030; text-decoration: none; border-width: 0 0 1px 0; border-style: none none solid none; border-color: #C0C0C0;}
.entry a:visited {color: #303030; text-decoration: none; border-width: 0 0 1px 0; border-style: none none solid none; border-color: #C0C0C0;}
.entry a:hover {background: #e7eef8; border-width: 0 0 1px 0; border-style: none none solid none; border-color: #C0C0C0; text-decoration: none;}
.entry strong{font:Arial, Helvetica, sans-serif; font-weight: bold; font-size:1em; color: #555555;}


#footer {background:#fff; clear: both;	width: 100%;}
#footer p{padding:14px 0;margin: 0; color: #666; text-align:center;}
#footer a{color: #666;text-decoration: none;}
#footer a:hover{color: #ffffff;text-decoration: none;}

/* The explanation text for a challenge */
#challengebody {
	margin: 15px 0px 0px 0px;
	z-index: -1;
	position: relative;
	display: inline-block;
	border: 1px solid #222;
	padding: 5px;
}

/* Table of user attempts on a challenge page */
#challengetable {
	
}

/* Leaderboard table on leaderboard page */
#leaderboardtable {
	margin: 0 auto;
}



/* for iPad-sized devices */
@media only screen and (max-device-width: 800px) { 
	.navigation p { font-size: 1em }
	.subscribe ul {
	    margin-top: 4em;
	    font-size: 1.8em;
	}
	.footer p { font-size: 1.2em }
	h2 { font-size: 2.5em }
	h3 { font-size: 2em }
	h6 { font-size: 1em }
	p {
	    font-size: 1em;
	    line-height: 1.5em;
	}
	.post ul {
	    font-size: 1em;
	    line-height: 1em;
	    padding: .1;
	}
	.post ol {
	    font-size: 1em;
	    line-height: 1em;
	    padding: .1;
	}
	#arc {
	    font-size: 1.2em;
	}
}

/* for narrower browsers */
@media screen and (max-width: 800px) { 
	.navigation p { font-size: 1em }
	subscribe ul {
	    margin-top: 4em;
	    font-size: 1.6em;
	    line-height: 1.6em;
	}
	.footer p { font-size: 1em }
	h2 { font-size: 2.5em }
	h3 { font-size: 2em }
	h6 { font-size: .8em }
	p {
	    font-size: 1em;
	    line-height: 1.4em;
	}
	.post ul {
	    font-size: 1em;
	    line-height: 1em;
	    padding: .1;
	}
	.post ol {
	    font-size: 1em;
	    line-height: 1em;
	    padding: .1;
	}
}

/* for iphone-sized devices */
@media only screen and (max-device-width: 480px) { 
#content {max-width: 55em; overflow: hidden; margin: auto;}	

	body { padding: 0 }
	h1 { font-size: 3.5em; margin-bottom: 2em; text-align: left }
	h2 { font-size: 2em;  margin-bottom: 1.5em; text-align: left }
	h3 { font-size: 4em; line-height: 1em;}
	h6 { font-size: .9em; text-align: left }
	th { font-size: 3.5em }
	td { font-size: 3.5em }
	p {
	    font-size: 2.5em;
	    line-height: 1.4em;
		margin-bottom: 1.2em;
	}
	ul {
	    list-style-type: disc;
	    list-style-position: inside;
	    padding: .5em;
	}
	ol {
	    list-style-position: inside;
	    padding: .5em;
	}
	li {
	   font-size: 1.7em;
	   line-height: 1.9em;
	   margin-top: .3em;
	}	
	pre {
		font-size: 2.5em;
		line-height: 1.4em;
	}

	.navigation p { font-size: .8em; margin-top: 1em }
	.footer p { font-size: .9em }
	#header { font-size: 2.4em; }

}


@media print { 
	body {
	    font-family: Helvetica,sans-serif;
	    font-size: 14px;
	    background: white;
	    color: black;
	    margin: 10;
	    width: auto;
	}
	.container { display: block }
	.navigation { display: none }
	.subscribe { display: none }
	.footer { display: none }
}

